.box-profile {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.box-profile-left {
  width: 25%;
  height: 100%;
  background-color: gray;
  padding: 20px;
  color: #fff;
}
.box-profile-left a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}
.box-profile-right {
  width: 75%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0 5px gray;
  padding: 20px;
}
.box-profile-left p {
  margin: 10px 0px;
}
