
.watch{
    background: url(./img/pngtree-clock-face-no-hand-png-image_6945518.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    position: relative;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.one{
    width: 5px;
    height: 45px;
    background-color: black;
    position: absolute;
    top:56px;
    right: 97.5px;
    transform-origin: bottom center;
}
.two{
    width: 3px;
    height: 55px;
    background-color: gold;
    position: absolute;
    top:46px; 
    right: 98.5px;
    transform-origin: bottom center;
}
.three{
    width: 2px;
    height: 60px;
    background-color: red;
    position: absolute;
    right: 99px;
    top: 40px;
    transform-origin: bottom center;
} 
.heart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    background-color: wheat;
    border-radius: 50%;
}