:root {
  --font: "Montserrat", "Open Sans", sans-serif;
}
.rentPlane-main {
  width: 100%;
  height: 2250px;
}
.rentPlane-banner {
  width: 100%;
  height: 300px;
  background: url(../img/air-ticket.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0px -230px;
}
.rentPlane-banner-content h1 {
  margin: 0px;
  color: white;
  font-family: var(--font);
  font-size: 24px;
  text-align: center;
  padding-top: 170px;
}
.rentPlane-contact {
  width: 65%;

  margin: 0 auto;

  font-family: var(--font);
  font-size: 13px;
}
.rentPlane-contact p {
  margin: 4px;
}
.rentPlane-content {
  width: 65%;
  height: 2250px;

  margin: 60px auto;
  font-family: var(--font);
}
.rentPlane-content p {
  font-size: 14px;
  margin: 4px;
}
.rentPlane-content img {
  transform: translateX(21%);
}

@media screen and (min-width: 240px) and (max-width: 767px) {
  .rentPlane-main {
    width: 100%;
    height: 3230px;
  }
  .rentPlane-banner {
    width: 100%;
    height: 350px;
    background-size: 143% 100%;
    background-position: -50px 0px;
    background-color: red;
  }
  .rentPlane-contact {
    width: 90%;
    margin-top: 25px;
  }
  .rentPlane-content {
    width: 90%;
  }
  .rentPlane-content img {
    transform: translateX(-3%);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rentPlane-main {
    width: 100%;
    height: 2350px;
  }
  .rentPlane-banner {
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-position: 0;
  }
  .rentPlane-contact {
    width: 94%;
  }
  .rentPlane-content {
    width: 94%;
  }
  .rentPlane-content img {
    transform: translateX(5%);
  }
}
